/* Font-Familly : Abel*/

@font-face{
    font-family: Abel;
    src: url('../font/Abel/Abel-Regular.ttf');
}

/* Font-Familly : Anton*/

@font-face{
    font-family: Anton;
    src: url('../font/Anton/Anton-Regular.ttf');
}

/* Font-Familly : Lexend-Deca*/

@font-face{
    font-family: Lexend;
    src: url('../font/Lexend_Deca/LexendDeca-Regular.ttf');
}
/* Font-Familly : Livvic*/

@font-face{
    font-family: Livvic;
    src: url('../font/Livvic/Livvic-Regular.ttf');
}

/* Font-Familly : Josefin_sans*/
@font-face{
    font-family: Josefin_sans;
    src: url('../font/Josefin_Sans/JosefinSans-Regular.ttf');
}